#!/bin/bash

MASTER=spark://localhost:7077
SPARK=/set/spark/dir

exec $SPARK/bin/spark-submit \
  --conf spark.driver.maxResultSize=2g \
  --packages org.vegas-viz:vegas_2.11:0.3.11,org.rogach:scallop_2.11:latest.integration,graphframes:graphframes:0.7.0-spark2.4-s_2.11 \
  --master $MASTER \
  --class hypercut.spark.Hypercut target/scala-2.11/dbpart_2.11-0.1.0-SNAPSHOT.jar "$*"
